@import url(http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300);

* {
    font-family: "Open Sans Condensed";
}

.section {
    margin-bottom: 30px;
    padding-bottom: 30px;
    border-bottom: 1px solid #ddd;
}

.section-label {
    margin-top: 30px;
}

.section > h2 {
    cursor: pointer;
    padding: 8px;
    border-radius: 5px;
}

.form-group  h1 {
    font-size: 55px;
    font-family: "open sans condensed"
}

.npc-question {
    display: inline-block;
    width: 100%;
}

.npc-question {
    width: 100%;
    text-align: left;
    display: inline-block;
}

.npc-question > h1 {
    font-size: 55px;
    font-family: "Open sans condensed";
    width: 70%;
    display: inline-block;
}


.navigation {
    border-top: 3px solid #eee;
    margin-top: 50px;
}

.navigation > * {
    /*display: inline-block; */
    font-size: 55px;
}

.navigation .next {
    float: right;
}

.navigation .previous {
    float: left;
}

.saved {
}

.saved > h2 {
    transition: .5s;
    /*background-color: #96c34c;*/
    border: 3px dashed #96c34c;
    padding: 15px 8px;
    color: #96c34c;
}

.section > h2 > .glyphicon-ok {
    transition: all 1s;
    display: none;
}

.section > h2 > .glyphicon-ok > p {
    margin-left: 10px;
}

.saved > h2 > .glyphicon-ok {
    transition: .5s;
    display: inline-block;
}