@import url(http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300);

* {
    font-family: "Open Sans Condensed";
    transition: all .25s;
}

body {
    background-color: #e5e5e5;
}

.navbar-inverse, .navbar-default {
    font-size: 18pt;
}

ul.dropdown-menu {
    font-size: 20px;
}

.navbar-brand {
    font-size: 20pt;
}

.navbar-brand > span {
    font-weight: bold;
}

.section-label {
    margin-top: 30px;
}

.section > h2 {
    cursor: pointer;
    padding: 8px;
    border-radius: 5px;
}

.form-group  h1 {
    font-size: 55px;
    font-family: "open sans condensed"
}

.npc-question {
    display: inline-block;
    width: 100%;
}

.npc-question {
    width: 100%;
    text-align: left;
    display: inline-block;
}

.npc-question > h1 {
    font-size: 55px;
    font-family: "Open sans condensed";
    width: 70%;
    display: inline-block;
}

.side-nav > li {
    font-size: 18pt;
}

.side-nav.secondary > li :hover {
    border-right: 3px solid #428bca;
}

ul.side-nav.primary {
    background-color: #fff;
    border: 1px solid #d8d8d8;
    border-radius: 3px;
    border-bottom-width: 2px;
    padding: 20px 20px;
    margin-bottom: 20px;
}

ul.side-nav.primary > li.active {
    border-right: 3px solid #428bca;
}

ul.side-nav.primary > li.active > a {
    border-right: 3px solid #428bca;
    background-color: hsl(208, 45%, 88%);
}


ul.nav.secondary > li {
    padding-left:20px;
}

ul.nav.secondary > li.active {
    border-right: 3px solid #428bca;
}

ul.nav.secondary > li:hover {
    border-right: 5px solid #428bca;
}

article, article.modal-content {
    background-color: #fff;
    border: 1px solid #d8d8d8;
    border-radius: 3px;
    border-bottom-width: 2px;
    padding: 20px 20px;
    margin-bottom: 20px;
}

.modal-header > * {
    display: inline-block;
    vertical-align: middle;
}

.modal-header > img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    position: relative;
    left: -25px;
}

.modal-header {
    text-transform: uppercase;
}

.modal-body {
    padding: 10px 0;
    font-size: 24px;
}

td.secondary, .secondary {
    color: #aaa;
}

p.secondary {
    font-style: italic;
}

.table > tbody > tr > td {
    border: none;
}

.actions * {
    display: inline-block;
    padding-right: 10px;
    cursor: pointer;
}

.loader {
    color: #fff;
    font-size: 18pt;
    font-weight: bold;
    background-color: #428bca;
    border-radius: 3px;
    padding: 20px;
    cursor: pointer;
}

.loader :hover {
    background-color: #62abea;
}

.loader span {
    float: left;
}


.navigation {
    border-top: 3px solid #d8d8d8;
    margin-top: 50px;
    background-color: #fff;
}

.navigation > * {
    /*display: inline-block; */
    font-size: 55px;
}

.navigation .next {
    float: right;
}

.navigation .previous {
    float: left;
}

.saved {
}

.saved > h2 {
    transition: .5s;
    /*background-color: #96c34c;*/
    border: 3px dashed #96c34c;
    padding: 15px 8px;
    color: #96c34c;
}

.section > h2 > .glyphicon-ok {
    transition: all 1s;
    display: none;
}

.section > h2 > .glyphicon-ok > p {
    margin-left: 10px;
}

.saved > h2 > .glyphicon-ok {
    transition: .5s;
    display: inline-block;
}

.search .results {
    list-style: none;
    display: block;
    margin: 0;
    padding-left: 15px;
    /*height: 300px;*/
    width: 100%;
    /*overflow-x: hidden;
    overflow-y: scroll;*/
}

.search .results .family-header > h2{
    /*background-color: #eee;*/
    text-transform: uppercase;
    padding: 5px;
    margin: 30% 0;
}

.search .results .family-header {
    border: 1px solid #d8d8d8;
    border-radius: 3px;
    margin: 10px 0;
    cursor: pointer;
    overflow: hidden;
    height: 245px;
}

.search .results .family-header:hover{
    background-color: #f5f5f5;
}

.first {
    border: 2px dashed #d8d8d8 !important;
    height: 245px;
}

.family-header .information {
    text-transform: capitalize;
    position: relative;
    top: -50px;
    background-color: #f8f8f8;
    height: 245px;
}

.family-header .information > div {
    padding: 10px;
}

.family-header .information div.selected {
    color: #0050ff;
    text-align: center;
    display: inline-block;
    float: left;
}

.family-header:hover .information {
    top: -180px;
}

.family-header:hover .information > h2{
    color: #2a6496;
    text-align: center;
}

.family-header .information > h2 {
    background-color: #fff;
    text-transform: uppercase;
    padding: 10px;
    margin: 0;
}

.people-header {
    margin-top: 20px;
    height: 300px;
    overflow: hidden;
    border: 1px solid #d8d8d8;
    border-radius: 3px;
    cursor: pointer;
    background-color: #fff;
}

.people-header > img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.people-header .information {
    text-transform: capitalize;
    position: relative;
    top: -50px;
    height: 245px;
    background-color: #f8f8f8;
}

.people-header .information div.selected {
    color: #0050ff;
    text-align: center;
    display: inline-block;
    float: left;
}

.selected * {
    margin: 0;
    padding: 0;
    margin-right: 10px;
}
.people-header .information > div {
    padding: 10px;
    height: 0px;
    overflow: hidden;
}

.people-header:hover .information {
    top: -180px;
}

.people-header:hover .information > div.details {
    height: 150px;
    padding: 10px;
}

.people-header:hover .information > h2{
    color: #2a6496;
    text-align: center;
}

.people-header .information > h2 {
    background-color: #fff;
    text-transform: uppercase;
    padding: 10px;
    margin: 0;
}

.people-header .information > div > h4 {
    padding: 0 10px;
}

.people-header .information > div > h4 > a {
    float: right;
}

.community-header {
    margin-top: 20px;
    height: 300px;
    overflow: hidden;
    border: 1px solid #d8d8d8;
    border-radius: 3px;
    cursor: pointer;
    background-color: #fff;
}

.search .results li > h2.info {
    /*background-color: #eee;*/
    color: #777;
    font-family: "open sans condensed light";
    text-transform: uppercase;
    text-align: right;
    padding: 10px 25px 10px 10px;
    margin: 0;
}

.search .results li {
    list-style: none;
}

.search .results .member {
    text-transform: capitalize;
    display: inline-block;
    font-size: 24px;
    color: #888;
    font-style: italic;
}